---
title: "Agenda"
pageName: "Agenda"
layout: "default"
isPage: true
class: agenda
order: 2
scripts: ["/scripts/app.js"]
---

h1 A
    span genda

div.agenda-day
    h2
        | December 6th

    article.agenda-event
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!4m14!1i0!3e6!4m5!1s0x89c6c89770a81d01%3A0xea9795fd92958fe3!2s717+S+Christopher+Columbus+Blvd%2C+Philadelphia%2C+PA%2C+USA!3m2!1d39.939093199999995!2d-75.1421137!4m5!1s0x89c6c88511ad8cd9%3A0xbbfd036ebe4061c6!2sAmada%2C+217-219+Chestnut+St%2C+Philadelphia%2C+PA+19106!3m2!1d39.94855!2d-75.144882!5e0!3m2!1sen!2sus!4v1386125879283"></iframe>
        div
            h4 Dinner @ Amada
                span 7pm - 9pm
            div.agenda-event-img.amada
                p Groomsmen Only
            div.agenda-event-info
                p Dinner will start at 7pm and features spanish style tapas.
                p
                    h6 About Amada
                    | Amada is Chef Garces' iconic first restaurant.  Since opening in 2005, the gorgeous rustic-chic restaurant and bar has embraced the rich traditions of Spanish gastronomy while incorporating avant-garde cooking techniques.  Amada's capacious dining room features a six-seat chef's counter overlooking the open kitchen, a comfortable second dining room and lounge area, an intimate private event space and a spacious bar area reminiscent of a typical Spanish bodega, complete with hanging jamons, a display of whole cheeses and shelves brimming with imported canned goods for sale.
                p Menu can be viewed <a href="http://philadelphia.amadarestaurant.com/menu", target="_blank">here</a>
            div.agenda-event-actions
                button(title="view map").icon-location view map
                button(title="close map") close map

    article.agenda-event
        //- iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=z5iOnJrNEzpo.k2JqG9eKhle0")
        <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d3058.6641078273333!2d-75.14694185000008!3d39.94890239999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x89c6c88511ad8cd9%3A0xbbfd036ebe4061c6!2sAmada%2C+217-219+Chestnut+St%2C+Philadelphia%2C+PA+19106!3m2!1d39.94855!2d-75.144882!4m5!1s0x89c6c8849af79337%3A0x29dd2853286df712!2sHotel+Monaco+Philadelphia%2C+a+Kimpton+Hotel%2C+433+Chestnut+St%2C+Philadelphia%2C+PA+19106!3m2!1d39.949312!2d-75.148949!5e0!3m2!1sen!2sus!4v1386125757656"></iframe>
        div
            h4 Monaco Rooftop Bar &amp; Lounge
            div.agenda-event-img.monaco
                p Groomsmen Only
            div.agenda-event-info
                p Recommended Option
                h6 About Monaco Rooftop Bar &amp; Lounge
                | Eleven stories above Philly's most historic block hovers Stratus Lounge, one of the only rooftop social spots in the city. With a swaying maple tree, soaring fireplace and drinks that are as fresh as the air, it's always the perfect season. The backdrop is inspiring and the buzz only builds as the day goes on. Relax with friends and let the spirit move you. When night finally falls, you'll find yourself immersed in an electrifying lounge scene
            div.agenda-event-actions
                button(title="view map").icon-location view map
                button(title="close map") close map

div.agenda-day
    h2
        | December 7th

    article.agenda-event
        iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=z5iOnJrNEzpo.k2JqG9eKhle0")
        div
            h4 TBD
                span time pending
            div.agenda-event-img.barcade
            div.agenda-event-info
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div.agenda-event-actions
                button(title="view map").icon-location view map
                button(title="close map") close map

    article.agenda-event
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!4m14!1i0!3e6!4m5!1s0x89c6c89770a81d01%3A0xea9795fd92958fe3!2s717+S+Christopher+Columbus+Blvd%2C+Philadelphia%2C+PA%2C+USA!3m2!1d39.939093199999995!2d-75.1421137!4m5!1s0x89c6c7d15b68d70d%3A0x483a9d56a4e6c69d!2sAlla+Spina%2C+1410+Mt+Vernon+St%2C+Philadelphia%2C+PA+19130!3m2!1d39.964465!2d-75.161424!5e0!3m2!1sen!2sus!4v1386125947324"></iframe>
        div
            h4 Dinner @ Alla Spina
                span 6:45pm - 9pm
            div.agenda-event-img.allaspina
                p Special Invitation Only
            div.agenda-event-info
                p Dinner will start at 6:45
                h6 About Alla Spina
                | Inspired by years of visits to Italy and a true love of finely made beer, the Vetri family has brewed up their version of an Italian gastropub with Alla Spina (Italian for "from the tap"). Diners can expect a large selection of both local brews and Italian beers, as well as pub fare including house-made sausages, braised meats and oysters. Staying true to its moniker, Alla Spina is a haven for seasonal craft beers.
                p Menu can be viewed <a href="http://www.allaspinaphilly.com/index.php/alla_spina_menu", target="_blank">here</a>
            div.agenda-event-actions
                button(title="view map").icon-location view map
                button(title="close map") close map


    article.agenda-event
        iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=z5iOnJrNEzpo.k2JqG9eKhle0")
        div
            h4 TBD
                span time pending
            div.agenda-event-img.barcade
            div.agenda-event-info
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div.agenda-event-actions
                button(title="view map").icon-location view map
                button(title="close map") close map

