---
title: "Agenda"
pageName: "Agenda"
layout: "default"
isPage: true
class: agenda
order: 2
scripts: ["/scripts/app.js"]
---

h1 A
    span genda

div.agenda-day
    h2
        | December 6th

    article.agenda-event
        iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=z5iOnJrNEzpo.k5q3FTS7-yos")
        div
            h4 Dinner @ Amada
                span 7pm - 9pm
            div.agenda-event-img.amada
                p Groomsmen Only
            div.agenda-event-info
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div.agenda-event-actions
                button(title="view map").icon-location view map
                button(title="close map") close map

    article.agenda-event
        iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=z5iOnJrNEzpo.k2JqG9eKhle0")
        div
            h4 TBD
                span time pending
            div.agenda-event-img.barcade
                p Groomsmen Only
            div.agenda-event-info
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div.agenda-event-actions
                button(title="view map").icon-location view map
                button(title="close map") close map

div.agenda-day
    h2
        | December 7th

    article.agenda-event
        iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=z5iOnJrNEzpo.k2JqG9eKhle0")
        div
            h4 TBD
                span time pending
            div.agenda-event-img.barcade
            div.agenda-event-info
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div.agenda-event-actions
                button(title="view map").icon-location view map
                button(title="close map") close map

    article.agenda-event
        iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=z5iOnJrNEzpo.k2JqG9eKhle0")
        div
            h4 Dinner @ Alla Spina
                span time pending
            div.agenda-event-img.allaspina
                p Special Invitation Only
            div.agenda-event-info
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div.agenda-event-actions
                button(title="view map").icon-location view map
                button(title="close map") close map


    article.agenda-event
        iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=z5iOnJrNEzpo.k2JqG9eKhle0")
        div
            h4 TBD
                span time pending
            div.agenda-event-img.barcade
            div.agenda-event-info
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div.agenda-event-actions
                button(title="view map").icon-location view map
                button(title="close map") close map

