---
title: "Contact"
pageName: "Rsvp"
layout: "default"
isPage: true
order: 3
scripts: ["/scripts/app.js"]
---

h1 C
    span ontact

div.details
    .details-post.details-contact
        h3 Deadline November 17th

        p In order for me to make the proper arrangements, please contact me by November 17th on whether you can attend.

        .details-actions
            span filipe.alves.araujo@gmail.com
            a(href="mailto:filipe.alves.araujo@gmail.com?subject=Danny's Bachelor Party", target="_blank").icon-mail Email Me

        .details-actions
            span 862 849-0310
            a(href="tel:+18628490310", target="_blank").icon-phone Call Me
