---
title: "Details"
pageName: "Details"
layout: "default"
isPage: true
order: 1
scripts: ["/scripts/app.js"]
---

h1 D
    span etails

div.details
    .details-post.details-invited
        div.details-img.danny
        h3 Whats all this about?
        p
            | You have been invited to mourn the unfortunate impending doom of Danny Araujo's loss of freedom.
            span  ( Just kidding Pina <b class="icon-wink"> </b> )

        p To celebrate this ocassion, arrangments have been in Philadelphia for a weekend of food and drinks, lots and lots of drinks.
        p The 6th of December has been reserved for the groomsmen, while the 7th is by invitation only.
        p The full agenda can be viewed <a href="/agenda.html">here</a>, however it is still in flux.
        p <a href="/contact.html">RSVPs</a> must be in by the 17th of November.

div.details
    .details-post.details-map
        iframe(src="https://mapsengine.google.com/map/u/0/embed?mid=z5iOnJrNEzpo.kVQjrLbgETOY")

